*,
*:after,
*:before {
  box-sizing: border-box;
}


html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #df9f27;
}

.word-bank-board{
	background: pink;
	height: 20%;

}

.letters-board{
	background: #add8e6;
	height: 60%;
	display: flex;
	justify-content: center;
}

.player-display-board{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #CCCC;
	height: 20%;
}

.player-one{
	background: #83894f;
	height:100px;
	width:100px;
}

.player-two{
	background: #83894f; 
	height: 100px;
	width: 100px;
}

.player-three{
	background: #83894f;
	height: 100px;
	width:100px;
}

td{
	border: 1px solid black;
	height: 80px;
	width: 80px;
}

td:empty {
	visibility: hidden;
}

/* this is the css for the whell */

.wheel-section {
	text-shadow: 2px 2px 5px #000000;
	background-color: #be5502;
	position: absolute;
	height: 400px;
	width: 800px;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	color: #df9f27;
	border-radius: 25px;
	border: 8px solid #ffffff;
}

.wheel-section h2 {
	text-align: center;
}

.wheel {
	position: absolute;
	left: 290px;
	top: 80px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: yellow;
}

.spin-button {
	outline: none;
	position: absolute;
	height: 50px;
	width: 300px;
	bottom: 20px;
	left: 50%;
	transform: translate( -50% ,0);
	border-radius: 25px;
}

.show-value {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top: 50%;
	font-size: 5em;
	transform: translate( -50%, -50%);
}

.wheelpic {
	height: 200px;
}
/* this is the css for the round change*/

.round-display {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: round 5s cubic-bezier(0.1, 0.8, 1, 0.1);
	border: 3px solid white;
	border-radius: 25px
}

@keyframes round{
	0%{
		left: 0%;
	}
	100%{
		left: 110%;
	}
}

/* this is for displaying the guess phrase */

.guess-phrase-section {
	position: absolute;
	text-shadow: 2px 2px 5px #000000;
	background-color: #be5502;
	height: 400px;
	width: 800px;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	color: #df9f27;
	border-radius: 25px;
	border: 8px solid #ffffff;
}