*,
*:after,
*:before {
  box-sizing: border-box;
  height: 100%;
}


.main-board{
	background: pink;
	height: 20%;

}

.letters-board{
	background: #add8e6;
	height: 60%;
}
.player-display-board{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #CCCC;
	height: 20%;
}



.player-one{
	background: #f3c35b;
	height:100px;
	width:100px;
}

.player-two{
	background: #b5796e; 
	height: 100px;
	width: 100px;
}

.player-three{
	background: #8f8293;
	height: 100px;
	width:100px;
}