
.word-bank-board{
	height: 15%;
	
}

.letters-board{
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

td{
	transform-style: preserve-3d;
	position: relative;
	text-align: center;
	font-size: 2em;
	border: 1px solid black;
	height: 80px;
	width: 80px;
	background-color: rgba(67, 5, 128, 0.5);
	border-radius: 10px;
	border: none;
}

td:empty {
	visibility: hidden;
}

.board-piece {
	transition: 3s;
}


.display-used-letters {
	text-align: center;
	font-size: 3em;
	margin: 0px;
}

.clue-banner {
	text-align: center;
}

.front-face {
	z-index: 2;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
    backface-visibility: hidden;
}

.back-face {
	z-index: 2;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}