.player-display-board{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 20%;
}

.box{
	/*background: #83894f;
	height:100px;
	width:100px;*/
	width:250px;
	height:110px;	
  	position:relative;
  	bottom:20px;
	border-radius: 20%;
  border-width: 10px;
  border-style:solid;
  float:left;
  transition:
    background-color 300ms ease-out; 
}
.box span{
	width:50px;
	height:50px;	
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-size:34px;
	color:#FFF;
  color: gold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  transition: line-height 100ms ease-out;
  left:25%;
  width: 73px;
   
}
.box:hover span{
	line-height:35px;
  	color: red;
}
.box:hover input{
	position:absolute;
  display:block;
  height: 20px;
  top:66px;
  left: 35px;
  width: 130px;
  padding: 10px;
  color: black;
  transition: opacity 300ms ease;
  opacity:1;
}

/*.player-two{
	background: #83894f; 
	height: 100px;
	width: 100px;
}

.player-three{
	background: #83894f;
	height: 100px;
	width:100px;
}; */
